<footer>
    
        <input type="button" value="Previous" onclick="goPrevPage()" id="btnPrevious">
        <h4>Schools of Alkebulan &trade;</h4>
        <input type="button" value="Next" onclick="goNextPage()" id="btnNext">  
        <pre id="footContactDetails">
            023-456-0765
            info@schoolsforalkebulan.com
        </pre>

        <input type="text" value="Email or phone number" id="btnFootLearnMore">
        <input type="button" value="Learn More" onclick="window.location='../about'" id="btnSubmitLearnMore">

        <ul id="socialLinks">
            <li>Follow us on:</li>
            <li><a href="facebook.com"></a>facebook</li>
            <li><a href="youtube.com"></a>youtube</li>
            <li><a href="instagram.com"></a>instagram</li>
        </ul>
    

</footer>