<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Schools of Alkebulan</title>

    <script type="text/javascript" src=""></script>
    <link rel="stylesheet" href="homePage.css">
    <link rel="stylesheet" href="navBar.css">

    <script>
        //Function to navigate to previous page
        function goPrevPage() {
            window.history.back();
        }
    
        //Function to navigate to next page
        function goNextPage() {
            window.history.forward();
        }
    </script>
</head>