<nav>
    <img src="" alt="Schools of Alkebulan"/>
    <a href="/home">Home</a>
    <a href="/courses">Courses</a>
    <a href="/grades">Grades</a>
    <a href="">About Us</a>
    <a href="">Contact Details</a>
    <a href="">News</a>
</nav>