<nav>
    <h1>Schools for Alkebulan</h1>
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/grades">Academics</a>
    <a href="/courses">Course</a>
    <a href="/test">Test</a>
    <input type="button" id="btnSignup" value="Sign Up">

</nav>