<nav>
    <h3>Schools for Alkebulan</h3>
    <a href="/home">HOME</a>
    <a href="/about">ABOUT</a>
    <a href="/grades">ACADEMICS</a>
    <a href="/courses">COURSE</a>
    <a href="/test">TEST</a>
    <input type="button" id="btnSignup" value="Sign Up" onclick="window.location='../signup'">

</nav>