<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <header>
        <%- include('./partials/navTop') %>
    </header>  
     
    <section id="topHome">
        <div>
            <h1>Welcome to Schools of Alkebulan</h1>
        </div>
    </section>

    <!-- Quick Links section-->
    <section id="quickLink">
        <h3>Quick Links</h3>

        <div>
            <a href="/courses">
                <p>Select courses offerd by Schools of Alkebulan to start your journey on becoming a master!</p>
            </a>
        </div>
        <div>
            <a href="/grades">
                <p>Want to track your progress? Click here to see how well you have done so far!</p>
            </a>    
        </div>
        <!-- (Optonal) Add More Links-->
    </section>

    <!-- News and Blogs section-->
    <section id="News">
        <h3>News & Blogs</h3>

        <div>
            <a href="/blogs">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus a dolorum accusamus nam neque dolore, assumenda et magni quas tenetur ratione. Excepturi ipsam amet deleniti. Cupiditate voluptate rem praesentium molestiae.</p>
            </a>
        </div>
    </section>

    <!-- Organization Information-->
    <section id="orgInfo">
        <h3>About Us</h3>

        <div>
            <a href="/aboutus">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum rerum repellat, soluta sed iusto magnam similique id quaerat, repudiandae, recusandae itaque suscipit asperiores possimus fugit? A qui sit rerum expedita!</p>
            </a>
        </div>
    </section>
</body>
<%- include('./partials/footer')%>
</html>