<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <header>
        <%- include('./partials/navTop') %>
    </header> 

    <section id="SectionWelcome">
        <h1 id="txtWelcomeHeading">Schools for Alkebulan</h1>
        <input type="button" id="btnLearnMore" value="Learn More">
    </section>
    
    
</body>
<%- include('./partials/footer')%>
</html>