<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/navTop') %>

    <section class="HomePageSections" id="SectionWelcome">
        <h1 id="txtWelcomeHeading">Schools for Alkebulan</h1>
        <input type="button" id="btnLearnMore" value="Learn More">
    </section>

    <section class="HomePageSections" id="SectionJourneyWithUs">
        <div id="registerImage">

        </div>
        <div id="registerInfo">

        </div>
    </section>

    <section class="HomePageSections" id="SectionCourseInfo">
        <div id="courseInfoImage">

        </div>
        <div id="txtCourseInfo">

        </div>
    </section>

    <section class="HomePageSections" id="SectionRegistration">
        <div id="registerImage">

        </div>
        <div id="txtRegisterInfo">

        </div>
    </section>

</body>
<%- include('./partials/footer')%>
</html>