<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/navTop') %>

    <section class="HomePageSections" id="SectionWelcome">
        <h1 id="txtWelcomeHeading">Schools for Alkebulan</h1>
        <input type="button" id="btnLearnMore" value="Learn More" onclick="window.location='../courses'">
    </section>

    <section class="HomePageSections" id="SectionJourneyWithUs">
        <div id="companyInfo">
            <h3>YOUR FUTURE STARTS WITH US</h3>
            <p>
                I'm a paragraph. Click here to add your
                own text and edit me. It’s easy. 
                Just click “Edit Text” or double click me to add 
                your own content and make changes to the font. 
            </p>
        </div>
        <div id="companyInfoGraphics">
            <img src="" alt="Image1" id="infoImg1">
            <img src="" alt="Image2" id="infoImg2">
            <img src="" alt="Image3" id="infoImg3">
            <img src="" alt="Image4" id="infoImg4">
        </div>
    </section>

    <section class="HomePageSections" id="SectionCourseInfo">
        <div id="courseInfoImage">
        </div>
        <div id="txtCourseInfo">
            <h3>COURSES</h3>
            <p>
                I'm a paragraph. Click here to add your
                own text and edit me. It’s easy. 
                Just click “Edit Text” or double click me to add 
                your own content and make changes to the font. 
            </p>
            <input type="button" value="Learn More" id="btnCourseInfo"/>
        </div>
    </section>

    <section class="HomePageSections" id="SectionRegistration">
        <div id="registerInfoImage">
        </div>
        <div id="txtRegisterInfo">
            <h3>REGISTER</h3>
            <p>
                I'm a paragraph. Click here to add your
                own text and edit me. It’s easy. 
                Just click “Edit Text” or double click me to add 
                your own content and make changes to the font. 
            </p>
            <input type="button" value="Register Now" id="btnRegisterInfo"/>
        </div>
    </section>

    <section class="HomePageSections" id="negativeSpaceSection">
        <div></div>
    </section>
</body>
<%- include('./partials/footer')%>
</html>