html{
    height: 100%;
}

html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;

}

/*Home Course selection*/
#quickLink div{
    width: 50%;
    float: left;
    text-align: center;
}
div a{
    color: white;
    width: 100%;
    text-decoration: none;
    padding: 10px;
}
#quickLink div:hover{
    background-color: skyblue;
}

/*Body*/
body{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.753);
}


#txtWelcomeHeading{
    position: absolute;
    width: 949px;
    height: 113px;
    left: calc(50% - 949px/2 - 0.5px);
    top: 388px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 112px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-decoration-line: underline;

    color: #FFFFFF;
}
#btnLearnMore{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;

    position: absolute;
    width: 233px;
    height: 58px;
    left: 603px;
    top: 523px;

    background: #47E9E9;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;

    /*Button Text*/

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #FFFFFF;

    /* Inside Auto Layout*/
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}




/*Course Selection*/
#courseList{
    color: white; 
    height: 200%;  
}

#courseList li{
    display: inline-block;
    width: 50%;
    height: 100px;
    float: left;
    text-align: center;
    
}
#courseList li:hover{
    background-color: skyblue;
}

section{
    float: left;
}
section ul li a{
    /* color: black;
    text-decoration: none;    */
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    flex-wrap: wrap;
    padding: 25px;
}

section ul li a:hover{   
    color: white;
    background-color: skyblue;
    border: solid;
    border-color: white;
}

#courselistEng li{
    list-style: none;
    border: 100;
    text-align: left;
    margin-left: -5%;
}





/* #region TestCSS */
/* #region test.ejs */
/* body */
#testBody
{
    position: absolute;
    width: 1440px;
    height: 899px;
    left: 0px;
    top: 0px;


    
    background: url(https://wallpaperaccess.com/full/298397.jpg);
}

/* testTitles */
#testTitle
{
    position: absolute;
    width: 155px;
    height: 75px;
    left: 49px;
    top: 130px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-decoration-line: underline;

    color: #FFFFFF;
}

/* #region questionTitles */
#Q1Title
{
    position: absolute;
    width: 117px;
    height: 28px;
    left: 53px;
    top: 259px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;

    color: #FFFFFF;
}

#Q2Title
{
    position: absolute;
    width: 117px;
    height: 28px;
    left: 53px;
    top: 410px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    
    color: #FDFCFC;
}

#Q3Title
{
    position: absolute;
    width: 117px;
    height: 28px;
    left: 50px;
    top: 556px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    
    color: #FDFCFC;
}

#Q4Title
{
    position: absolute;
    width: 117px;
    height: 28px;
    left: 744px;
    top: 259px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    
    color: #FDFCFC;
}

#Q5Title
{
    position: absolute;
    width: 117px;
    height: 28px;
    left: 744px;
    top: 416px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    
    color: #FDFCFC;
}
/* #endregion */

/* #region QuestionContent */
#q1Content
{
    position: absolute;
    width: 127px;
    height: 28px;
    left: 41px;
    top: 295px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

#q2Content
{
    position: absolute;
    width: 178px;
    height: 28px;
    left: 43px;
    top: 450px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: #FFFBFB;
}

#q3Content
{
    position: absolute;
    width: 83px;
    height: 28px;
    left: 43px;
    top: 584px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    
    color: #FFFBFB;
}

#q4Content
{
    position: absolute;
    width: 89px;
    height: 28px;
    left: 741px;
    top: 295px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    
    color: #FFFBFB;
}

#q5Content
{
    position: absolute;
    width: 88px;
    height: 28px;
    left: 736px;
    top: 450px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    
    color: #FFFBFB;
}
/* #endregion */

/* #region edit box */
#q1txtBox
{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #FFFFFF;
    border: 1px solid #D5D8DE;
    box-sizing: border-box;
    border-radius: 4px;
}

#q2txtBox
{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #FFFFFF;
    border: 1px solid #D5D8DE;
    box-sizing: border-box;
    border-radius: 4px;
}

#q3txtBox
{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #FFFFFF;
    border: 1px solid #D5D8DE;
    box-sizing: border-box;
    border-radius: 4px;
}

#q4txtBox
{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #FFFFFF;
    border: 1px solid #D5D8DE;
    box-sizing: border-box;
    border-radius: 4px;
}

#q5txtBox
{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #FFFFFF;
    border: 1px solid #D5D8DE;
    box-sizing: border-box;
    border-radius: 4px;
}
/* #endregion */

/* button */
#testSubmitButton
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    
    position: absolute;
    width: 164px;
    height: 48px;
    left: 53px;
    top: 706px;
    
    background: #2FE44C;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
}

/* #endregion */
/* #endregion */