<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>
   
<body>
    
    <header>
        <%- include('../partials/navTop') %>
    </header>
    
   <div class="CourseSection">
        <ul id="courseList">
            <li>
                <a href="courses/english">English</a>
                <p>Lorem ipsum dolor sit amet, consect</p>
            </li>
            <li>
                <a href="courses/mathematics">Mathematics</a>
                <p>Lorem ipsum dolor sit amet, consect</p>
            </li>
        </ul>

   </div>
<!-- 
   <nav id="navBottom">
        <input type="button" value="Previous" onclick="goPrevPage()" id="btnPrevious">
        <input type="button" value="Next" onclick="goNextPage()" id="btnNext">
    </nav> -->
</body>
    <%- include('../partials/footer')%>
</html>