<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>

    <%- include('../partials/navTop') %>

    <div id="courseBanner">
        <h3>Courses on Offer</h3>
    </div>
    
    <div class="CourseSection">
        <ul id="courseList">
            <li>
<<<<<<< HEAD
                <a href="courses/english">English</a>
                <p>I'm a paragraph. Click here to add your
                    own text and edit me. It’s easy. 
                    Just click “Edit Text” or double click me to add 
                    your own content and make changes to the font. </p>
            </li>
            <li>
                <a href="courses/mathematics">Mathematics</a>
                <p>I'm a paragraph. Click here to add your
                    own text and edit me. It’s easy. 
                    Just click “Edit Text” or double click me to add 
                    your own content and make changes to the font. </p>
            </li>
        </ul>

   </div>

   <section id="courseNewsSection">
        <div id="txtNewsSection">
            <h3>NEWS</h3>
            <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. 
                Just click “Edit Text” or double click me to add your own content and make changes to the font. </p>
        </div>
        <div id="imgNewsSectionPic">
            
        </div>
   </section>

   <section id="negativeSpaceSection">
    <div></div>
</section>
=======
                <a href="/english/">English</a>
            </li>
            <li>
                <a href="/math/">Mathematics</a>
            </li>
        </ul>

    </div>
<!-- 
    <nav id="navBottom">
        <input type="button" value="Previous" onclick="goPrevPage()" id="btnPrevious">
        <input type="button" value="Next" onclick="goNextPage()" id="btnNext">
    </nav> -->
>>>>>>> 1c7412ce41464c8ccd836e5f99b088fabf8e7a57
</body>
    <%- include('../partials/footer')%>
</html>