<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <header>
        <%- include('../partials/navTop') %>
    </header>

    <h1>Test select</h1>

    <div><%- tests[0]%></div>
    
</body>

<nav id="navBottom">
    <input type="button" value="Previous" onclick="goPrevPage()" id="btnPrevious">
    <input type="button" value="Next" onclick="goNextPage()" id="btnNext">
</nav>

<%- include('../partials/footer')%>
</html>